<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
   <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=WS210\SQLEXPRESS;Database=PSystem;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>

  <system.web>
    <compilation debug="true" />
  </system.web>

  <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
    <system.serviceModel>

      <!--<bindings>
        <webHttpBinding>
          <binding name="size"
                   maxReceivedMessageSize="2147483647"
                   maxBufferSize="2147483647"
                   maxBufferPoolSize="2147483647">
          </binding>
        </webHttpBinding>
      </bindings>-->

   
      
        <!--<services>
            <service behaviorConfiguration="ServiceBehavior" name="AutoRejectionTask.Service.RejectionService">
                <endpoint address="" binding="webHttpBinding" contract="AutoRejectionTask.Service.IRejectionService" bindingConfiguration="size" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:52002/RejectionService" />
                    </baseAddresses> 
                </host>
            </service>
        </services>-->
      <extensions>
        <behaviorExtensions>
          <add name="ErrorHandler" type="AutoRejectionTask.ErrorHandler.ErrorHandlerBehavior, AutoRejectionTask, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </behaviorExtensions>
      </extensions>
      
      <behaviors>
        <serviceBehaviors>
          <behavior name="ServiceBehavior">
            <serviceMetadata httpGetEnabled="True" />
            <serviceDebug includeExceptionDetailInFaults="true" />
          </behavior>
        </serviceBehaviors>
        <endpointBehaviors>
          <behavior name="Web">
            <webHttp faultExceptionEnabled="true" automaticFormatSelectionEnabled="True" defaultOutgoingResponseFormat="Json" />
          </behavior>
          </endpointBehaviors>
      </behaviors>      
      <bindings>
        <basicHttpBinding>
          <binding name="basicHttp" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
            <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
          </binding>
        </basicHttpBinding>
      </bindings>
       <services>
        <service name="AutoRejectionTask.Service.RejectionService" behaviorConfiguration="ServiceBehavior">
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:52000/RejectionService" />
            </baseAddresses>
          </host>
          <endpoint address=""
                    binding="webHttpBinding"
                    contract="PSContract.IRejectionService" behaviorConfiguration="Web"/>
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        </service>
      </services>
    </system.serviceModel>


  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>